<ion-header [translucent]="true" >

  <ion-toolbar  class="ion-padding" color="dark">

    <ion-buttons  size="large" (click)="logout()" color="dark">
      <ion-button size="large"> <ion-icon    name="log-out-outline"></ion-icon>  </ion-button>
      <ion-button size="large">  <ion-avatar style="width :180% ; height : 180%"   >
        <img src="assets/imgs/Logo.png">
      </ion-avatar>
    </ion-button>
    <ion-button disabled="buttonDisabled" > <ion-title  class="ion-text-center" size="normal">Events</ion-title> </ion-button>

    </ion-buttons>

</ion-toolbar>


</ion-header>

<ion-content [fullscreen]="true">



</ion-content>
