<ion-header [translucent]="true" >

  <ion-toolbar class="ion-padding" color="light">


      <ion-avatar slot="start" style="width:120% !important;
        height : 120% !important;
        max-width: 200px !important;
        max-height: 200px !important;">
        <img src="assets/imgs/LogoBlackStrokes.png">
      </ion-avatar>


    <ion-buttons slot="end" size="large" color="dark">

      <ion-title style="font-weight: 700;" class="ion-align-items-center"> Home </ion-title>

    </ion-buttons>

  </ion-toolbar>


</ion-header>



<ion-content [fullscreen]="true">

  <!------ Header -->

      <div class="avatar"></div>
      <ion-img src= 'assets/imgs/LogoBlackStrokes.png'></ion-img>

    <!------ SearchBar -->

      <!------ Grid -->

        <!------ Cards -->


        <ion-item>
          <div class="categories">
            <app-category-item *ngFor='let item of categories' [item]="item"> </app-category-item>

          </div>
        </ion-item>


  <ion-grid>
    <ion-row>


    </ion-row>
    <ion-row class="bottom-bar">
      <ion-col>
        <ion-button fill="clear" size="small" color="danger" class="border-right">
          <ion-icon slot="start" name="thumbs-up"></ion-icon>
          <small>12</small>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="clear" size="small" color="danger" class="border-right">
          <ion-icon slot="start" name="text"></ion-icon>
          <small>12 Comments</small>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="clear" size="small" color="danger">
            <small>12 minutes ago</small>
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>



</ion-content>
